<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
<location path="FileUploadHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="900000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="forgotMsgFrom" value="info@linkskart.com"/>
    <add key="forgotMsgTo" value="info@linkskart.com"/>
    <add key="forgotMsgclient" value="mail.linkskart.com"/>
    <add key="forgotMsgUser" value="info@linkskart.com"/>
    <add key="forgotMsgPassword" value=".Santhu143"/>
    <add key="signupMsgFrom" value="info@linkskart.com"/>
    <add key="signupMsgTo" value="info@linkskart.com"/>
    <add key="signupMsgclient" value="mail.linkskart.com"/>
    <add key="signupMsgUser" value="info@linkskart.com"/>
    <add key="signMsgPassword" value=".Santhu143"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="connection" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7O2Vtu4Bpdgh+ZWv0tQihckGM8bIBvXogSkZn1bU+PirbRCC/RrKdcROBOk+5cQqh3jlktkV49jJ" providerName="Sqlserver"/>-->
    <!--<add name="connection" connectionString="Aor2T0SveXPkIeymbnCU+HT7F+qI4CkLoFKq1tYNDyoVVPhFpkh8u+IvMrZVFwwOf8oFHiAE980exd3DOWp5oZKkF8zvOMTyVjZgIHSQwFIjXkGz90NfvvwkGxT3KK7Nme2ny5QFu1c=" providerName="Sqlserver"/>-->
    <add name="connection" connectionString="Aor2T0SveXM9J5zH6pK+xicRdvAqYIrYgMpqp41E3gjlDZl5cNXF7A6nYDKSXC4lDbeWVqWn5mXLc/yeNspaJilv3S1SVSPUZbV3ft1Iv7Gw2dJYGb7ipZ9sVlY/r3Kj" providerName="Sqlserver"/>

    <!--<add name="connection" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7AgzU3ASJ4mZ5zr610qhT84G71RD6LYeevdy5B6RmzHjQj4T4R/yjzRtSlhlZVrA2w==" providerName="Sqlserver"/>-->
    <!--<add name="connection" connectionString="Aor2T0SveXPKBbMcC7tSjhCcviaYokX78mLXQcqQpUnGhTWCzxCZGCzuSjC1mlXRltV5zTYxeKDsUQ2CAShrW3OszgUDh+MJI15Bs/dDX77sjU4JWU7jp1fiHXZ9VG0g" providerName="Sqlserver"/>-->
    <!--SMVTS_TEST    Data Source=192.168.20.22\MSSQL ;Initial Catalog=SMVTS_TEST ;User ID=smvts_p;Password=123456aA  -->
    <!--<add name="connection" connectionString="Aor2T0SveXPKBbMcC7tSjhCcviaYokX7c95ezeq5x+/GhTWCzxCZGIf5D1n4CCQUX0+pXiZJNheATXejNpf60f3d8RqQ12jwDvkyWkGknpn/XulZ5j24zA==" providerName="Sqlserver"/>-->
    <!--<add name="connection_test" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7NhYS4oY2ZnHP85457pRRUZPGOhbP2e/AReT1LW5ykzesCteHjCLJ+AvvncXZ/VL2Xgk9xknyRzBxT5v7SCLHyc=" providerName="Sqlserver"/>-->
    <!--SMVTS PROD    Data Source=192.168.50.140 ;Initial Catalog=SMVTS_PROD;User ID=smvts;Password=123456aA  -->
    <!--<add name="connection"   connectionString="Aor2T0SveXPKBbMcC7tSjnV2biNo1UUCLQOZCWJCgdbGhTWCzxCZGL4CY+O3mKqzXfd60oum+YaATXejNpf60UccZw/xfz9gbvinLUYnP6shgdIMQicpZqyJMAysRhs0NPugSf85OK8=" providerName="Sqlserver"/>-->
    <!--SMVTS DEVELOPMENT DB Data Source=192.168.20.22 ;Initial Catalog=SMVTS_DEVDB;User ID=smvts;Password=123456aA  -->
    <!--<add name="connection" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7NhYS4oY2ZnHJA9hzHX/sLyATXejNpf60f3d8RqQ12jwDvkyWkGknpn/XulZ5j24zA==" providerName="Sqlserver" />-->
    <!--SMVTS LIVETEST    Data Source=192.168.50.140 ;Initial Catalog=SMVTS_PROD_bak;User ID=smvts_p;Password=123456aA  -->
    <!--<add name="connection_lvt" connectionString="Aor2T0SveXPKBbMcC7tSjnV2biNo1UUC5a6/OHDEobrGhTWCzxCZGIf5D1n4CCQUlUvP/vr/fA7JSkc8SVuWO10oQOIOEwY9I15Bs/dDX74u5+em4d/9MnSmeMl/CV0tSyluLbSRRxV45ZLZFePYyQ==" providerName="Sqlserver"/>-->
    <!--<add name="connectionconfig" connectionString="Aor2T0SveXPKBbMcC7tSjnV2biNo1UUCLQOZCWJCgdbGhTWCzxCZGG2n4tt3uHft81SINQQ7T0EvAfNR12St3GMiLUmwm8BnbaVJLIY381XD+OqGE3ADDXtoAWGgYqAJm4hKnEuN83w=" providerName="Sqlserver"/>-->
    <!--<add name="connection_test" connectionString="Aor2T0SveXPKBbMcC7tSjnV2biNo1UUCLQOZCWJCgdbGhTWCzxCZGIf5D1n4CCQUX0+pXiZJNheATXejNpf60UccZw/xfz9gbvinLUYnP6shgdIMQicpZqyJMAysRhs0NPugSf85OK8=" providerName="Sqlserver"/>-->
    <!-- <add name="connection" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7INqYwDzG8y9f9e01ITgvvZPGOhbP2e/AY7ysW3wR0wazvhQR/jjqFqmNsMmMZYk5g==" providerName="Sqlserver" />-->
    <!--<add name="connection_config" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7INqYwDzG8y9f9e01ITgvvZPGOhbP2e/AY7ysW3wR0wazvhQR/jjqFqmNsMmMZYk5g==" providerName="Sqlserver"/>-->
    <!--VTS_CONFIG CONNECTION-->
    <!--<add name="connection_config1" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7INqYwDzG8y9OlKS9lvdDSSATXejNpf60f3d8RqQ12jwDvkyWkGknpn/XulZ5j24zA==" providerName="Sqlserver"/>-->
    <!--VTS_CONFIG1 CONNECTION-->
    <!--<add name="connection_test" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7NhYS4oY2ZnHfrULoXu+JXBPGOhbP2e/AReT1LW5ykzesCteHjCLJ+AvvncXZ/VL2Xgk9xknyRzBxT5v7SCLHyc=" providerName="Sqlserver"/>-->
    <!--SMVTS_TEST CONNECTION-->
  </connectionStrings>
  <system.web>
    <httpRuntime encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" maxRequestLength="2097151" executionTimeout="30000000"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <anonymousIdentification enabled="true"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
    
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>